<template>
  <div>
    <div class="modal fade" tabindex="-1" role="dialog" id="confirm-deposit">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div v-if="method == 'BANK'" class="modal-body modal-body-lg">
            <div class="nk-block-head nk-block-head-xs text-center">
              <h5 class="nk-block-title">
                Send to Financial Institution
                <br />
                <em style="font-size: 70px" class="icon ni ni-building"></em>
              </h5>
              <div class="nk-block-text">
                <div class="caption-text">
                  Send via wire transfer or direct deposit
                  <br />
                  <br />
                  <h3>
                    <strong> {{ deposit.amount }}</strong>
                  </h3>
                  USD
                </div>
                <!-- <span v-if="method == 'BTC'" class="sub-text-sm"
                  >Exchange rate: 1 BTC = {{ btcToDollar }} USD</span
                > -->
              </div>
            </div>
            <div class="nk-block">
              <h2 class="small text-center text-bold">TO</h2>
              <div class="card card-bordered">
                <div class="card-body">
                  <div
                    class="card-inner text-dark"
                    style="background: #eee !important"
                  >
                    <ul class="team-info">
                      <li>
                        <span>Amount To</span
                        ><span>{{ this.settings.bank_name }}</span>
                      </li>
                      <li>
                        <span>Bank Name</span
                        ><span>{{ this.settings.bank_name }}</span>
                      </li>
                      <li>
                        <span>Account Name</span
                        ><span>{{ this.settings.account_name }}</span>
                      </li>
                      <li>
                        <span>Account Number</span
                        ><span>{{ this.settings.account_number }}</span>
                      </li>
                      <li>
                        <span>Routing Number</span
                        ><span>{{ this.settings.bank_routing_number }}</span>
                      </li>
                      <li>
                        <span>Bank Country</span
                        ><span>{{ this.settings.bank_country }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="buysell-field form-action text-center">
                <div>
                  <a
                    href="javascript:void(0)"
                    id="bank_deposit_cont"
                    class="btn btn-primary btn-lg"
                    >Confirm Payment</a
                  >
                </div>
                <div class="pt-3">
                  <a href="" class="link link-danger">Go Back</a>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="modal-body modal-body-lg">
            <div class="nk-block-head nk-block-head-xs text-center">
              <h5 class="nk-block-title">Confirm Deposit</h5>
              <div class="nk-block-text">
                <div class="caption-text">
                  <div
                    class="alert alert-danger alert-icon alert-dismissible"
                    v-if="deposit.pending_message"
                  >
                    <em class="icon ni ni-cross-circle"></em>
                    You have a pending deposit, please complete the transaction
                    with ref
                    <span style="font-weight: 1000"
                      >#{{ deposit.ref }} <br /><br />
                      Make the payment to complete your pending
                      transaction</span
                    >
                  </div>
                  Send the equal amount of Bitcoin to your auto-generated wallet
                  , displayed below. The confirmation is automatic.
                  <br />
                  <br />
                  <strong>
                    {{ deposit.coin_amount }}
                  </strong>
                  {{ method }} / <strong> {{ deposit.amount }}</strong> USD
                </div>
                <!-- <span v-if="method == 'BTC'" class="sub-text-sm"
                  >Exchange rate: 1 BTC = {{ btcToDollar }} USD</span
                > -->
              </div>
            </div>
            <div class="nk-block">
              <h2 class="small text-center text-bold">TO</h2>
              <div class="form-control-wrap">
                <div
                  class="form-clip clipboard-init"
                  data-clipboard-target="#walletAddress"
                  data-success="Copied"
                  data-text="Copy "
                >
                  <em class="clipboard-icon icon ni ni-copy"></em>
                  <span class="clipboard-text">Copy Wallet Address</span>
                </div>
                <div class="form-icon">
                  <em class="icon ni ni-link-alt"></em>
                </div>
                <input
                  type="text"
                  class="form-control copy-text"
                  id="walletAddress"
                  :value="deposit.address"
                />
              </div>
              <p class="text-center mt-2">
                <canvas
                  v-if="method === 'ETH'"
                  ref="qrCanvas"
                  class="image-thumbnail"
                  width="300"
                  height="300"
                  style="
                    border: 1px solid #eee;
                    border-radius: 10px;
                    box-shadow: 1px 3px #eee;
                  "
                ></canvas>
                <canvas
                  v-if="method === 'BTC'"
                  ref="qrCanvas"
                  class="image-thumbnail"
                  width="300"
                  height="300"
                  style="
                    border: 1px solid #eee;
                    border-radius: 10px;
                    box-shadow: 1px 3px #eee;
                  "
                ></canvas>
              </p>
              <!-- .buysell-field -->
              <div class="buysell-field form-action text-center">
                <div>
                  <a
                    v-if="!conf_clicked"
                    href="#"
                    @click.prevent="getTrxInfo(method, deposit.address)"
                    class="btn btn-primary btn-lg"
                    >Confirm Payment</a
                  >
                  <div class="pt-3" v-else>
                    <ul class="team-info">
                      <li>
                        <span>Amount to be Recived:</span
                        ><span class="badge badge-danger text-white"
                          >{{ method }} {{ deposit.coin_amount }}</span
                        >
                      </li>
                      <li>
                        <span>Confimations</span
                        ><span class="badge badge-danger text-white">0</span>
                      </li>
                      <li>
                        <span>Wallet Address</span
                        ><span class="badge badge-danger text-white">{{
                          deposit.address
                        }}</span>
                      </li>
                    </ul>
                    <pulse-loader
                      :loading="true"
                      :color="color"
                      :size="size"
                    ></pulse-loader>
                  </div>
                </div>
                <div>
                  <a href="" class="link link-danger">Go Back</a>
                </div>
              </div>
            </div>
            <!-- .nk-block -->
            <div id="accordion" class="accordion">
              <div class="accordion-item">
                <a
                  href="#"
                  class="accordion-head"
                  data-toggle="collapse"
                  data-target="#accordion-item-1"
                >
                  <h6 class="title">What to do next?</h6>
                  <span class="accordion-icon"></span
                ></a>
                <div
                  class="accordion-body collapse"
                  id="accordion-item-1"
                  data-parent="#accordion"
                >
                  <div class="accordion-inner">
                    <ul>
                      <ol>
                        1) Please send ${{
                          totalAm(deposit.amount)
                        }}
                        USD ({{
                        }}
                        {{
                          method
                        }}) to address
                        {{
                          deposit.address
                        }}. (Make sure to send enough to cover any coin
                        transaction fees!) You will need to initiate the payment
                        using your software or online wallet and copy/paste the
                        address and payment amount into it. We will email you
                        when all funds have been received. You have 1 day, 2
                        hours, 57 minutes, 10 seconds for us to receive
                        confirmed funds. If you send funds that don't confirm by
                        the timeout or don't send enough coins you will receive
                        an automatic email to claim your funds within 8 hours.
                        If you don't receive the email contact us with the
                        information below and cedefiangels.com will send you a
                        refund:
                      </ol>
                      <ol>
                        A payment address to send the funds to lii) This
                        verification code: be96d7307b4067b6b396e2e561596d80 (to
                        verify that you are the transaction sender.)
                      </ol>
                      <ol>
                        After sending payment, review the status of your
                        transaction on this page Once the payment is confirmed
                        several times in the blockchain, the payment will be
                        completed and the merchant will be notified. The
                        confirmation process usually takes 10-45 minutes but
                        varies based on the coin's target block time and the
                        number of blocks confirms required. The status page is
                        available for the next 30 days.
                      </ol>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <a
                  href="#"
                  class="accordion-head collapsed"
                  data-toggle="collapse"
                  data-target="#accordion-item-2"
                >
                  <h6 class="title">
                    What if I accidentally don't send enough?
                  </h6>
                  <span class="accordion-icon"></span
                ></a>
                <div
                  class="accordion-body collapse"
                  id="accordion-item-2"
                  data-parent="#accordion"
                >
                  <div class="accordion-inner">
                    <p>
                      If you don't send enough, that is OK. Just send the
                      remainder and we will combine them for you. You can also
                      send from multiple wallets/accounts.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .modal-body -->
        </div>
        <!-- .modal-content -->
      </div>
      <!-- .modla-dialog -->
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import QRCode from "qrcode";
export default {
  props: {
    method: {
      required: true,
    },
    deposit: {
      required: true,
    },
    settings: {
      required: true,
    },
  },
  components: {
    PulseLoader,
    QRCode,
  },
  data() {
    return {
      conf_clicked: false,
      color: "#0971fe",
      size: "30px",
      logoUrl:
        "https://staracapinvestments.com/wp-content/uploads/2024/11/Stara-400-x-300-px-copy-1.png",
    };
  },
  asyncComputed: {
    async btcToDollar() {
      let p = await this.getBtc(1);
      return p;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.generateQRCode();
    });
  },
  watch: {
    method() {
      this.$nextTick(() => {
        this.generateQRCode();
      });
    },
    deposit: {
      deep: true,
      handler() {
        this.$nextTick(() => {
          this.generateQRCode();
        });
      },
    },
  },
  methods: {
    totalAm(amount) {
      return parseFloat(amount) + 100;
    },
    getEth(amount) {
      this.$http.get("/api/get/eth/price/" + amount).then((response) => {
        return Promise.resolve(response.data);
      });
    },
    getBtc(amount) {
      this.$http.get("/api/get/btc/price/" + amount).then((response) => {
        return Promise.resolve(response.data);
      });
    },
    getTrxInfo(method, address) {
      this.conf_clicked = true;
      this.$http.get("/api/get/trx/data/" + address).then((res) => {
        console.log(res);
      });
    },
    async generateQRCode() {
      try {
        if (!this.deposit.address) {
          console.error("No deposit address provided!");
          return;
        }
        if (!this.deposit.coin_amount) {
          console.error("No coin amount provided!");
          return;
        }
        if (!this.method) {
          console.error("No amount provided!");
          return;
        }

        const canvas = this.$refs.qrCanvas;
        const url = this.generateQRCodeUrl(
          this.method,
          this.deposit.address,
          this.deposit.coin_amount
        );
        await QRCode.toCanvas(canvas, url, {
          width: 300,
          errorCorrectionLevel: "H",
        });

        // Draw the logo in the center of the QR code
        const ctx = canvas.getContext("2d");
        const logo = new Image();
        logo.src = this.logoUrl;
        logo.onload = () => {
          const logoSize = 70; // Adjust the size of the logo
          const centerX = (canvas.width - logoSize) / 2;
          const centerY = (canvas.height - logoSize) / 2;

          //add opacity to the logo
          ctx.globalAlpha = 0.5;
          // ctx.drawImage(logo, centerX, centerY, logoSize, logoSize);
        };
        console.log("QR code generated successfully!");
      } catch (error) {
        console.error("Error generating QR code:", error);
      }
    },
    generateQRCodeUrl(cryptoType, address, amount) {
      let uri;
      if (cryptoType === "ETH") {
        const amountInWei = this.convertToWei(amount);
        uri = `ethereum:${address}?value=${amountInWei}`;
      } else if (cryptoType === "BTC") {
        uri = `bitcoin:${address}?amount=${amount}`;
      }
      return uri;
    },
    convertToWei(amount) {
      // Convert Ether to Wei (1 Ether = 1e18 Wei)
      return amount * 1e18;
    },
  },
};
</script>
<style>
.image-thumbnail {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 3px #eee;
}
</style>
