<template>
    <div>
        <div class="row align-items-center">
        <div class="col-sm-8"> 
            <div class="form-group">
                <progress-bar size="large" max="100" text-position="top" :val="uploadPercentage" :text="uploadPercentage + '%'"></progress-bar>
            </div>
            <div class="form-group">
                <input type="file" id="file" ref="file" @change="onImageChange" class="form-control">
            </div>
            
                <input type="hidden" :name="name" :value="img_url" >
                <div class="form-group">
                    <div class="alert alert-danger" v-if="uploadErr"><i class="fa fa-exclamation-circle" style="padding: 0px 3px; font-size:15px;"></i> {{UploadErrMsg}}</div>
                </div>
            </div>
        <div class="col-sm-4 d-none d-sm-block">
            <div class="mx-md-4">
                <img :src="thumbimage" alt="ID Front" width="250" height="150">
            </div>
        </div>
    </div>
    </div>
</template>
<script>
import axios from 'axios';
import ProgressBar from 'vue-simple-progress'


export default {
    props: {
        name: {
            required: true,
        },
        existfile: {
            required: false,
        },
        th: {
            required: false,
        },

    },
    name: 'cloudlinaryUploader',
    data() {
        return{
               thumbimage:'v2/assets/images/icons/id-back.svg',
               image: '',
               cloudUrl: 'https://api.cloudinary.com/v1_1/dxkq22oyq/image/upload',
               upload_preset: 'xsviyewq',
               img_url: '',
               uploadPercentage: 0,
               uploadErr: false,
               UploadErrMsg: '',
        }
    },
    components: {
        ProgressBar
    },
    computed:{
        
    },
    mounted(){
        this.thumbimage = this.th
        if(this.existfile.length >= 2){
                this.img_url = this.existfile
                this.uploadPercentage = 100
                this.thumbimage = this.existfile;
                 this.thumbimage = this.existfile
        }

       
    },
    methods: {
           onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                // if (!files.length){
                //      return;
                // }
             this.createImage(files[0]);
            return this.uploadImage(e)
              
               
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
                
            },
            uploadImage(e){
                this.uploadPercentage = 0;
                let vm = this;
                let files = e.target.files || e.dataTransfer.files;
                const formData = new FormData();

                    formData.append("file", files[0]);
                    formData.append("upload_preset", this.upload_preset);
                    console.log(formData);
                    axios.post(vm.cloudUrl,formData,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                         onUploadProgress: function(progressEvent) {
                         var percentCompleted = parseInt(Math.round( (progressEvent.loaded * 100) / progressEvent.total ));
                         vm.uploadPercentage = percentCompleted;
                         
                        }
                    })
                    .then(({data}) => {
                    this.img_url = data.secure_url
                    this.thumbimage =  data.secure_url;
                    }).catch( (error) => {
                        console.log(error.response.data.error.message);
                        this.uploadErr = true;
                        this.uploadPercentage = 0
                        this.UploadErrMsg = error.response.data.error.message;
                    });
            },
            
        }
}
</script>