<template>
 <div>
    <div class="modal fade" tabindex="-1" role="dialog" ref="modal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" @click="closeModal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <slot name="modal-body"></slot>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModal">Close</button>
            <button type="button" @click="submitModalForm" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    formData:{
      type: Object
    }
  },
   mounted() {
    // Listen for the 'show-modal' event and show the modal when it is emitted
    this.$on('show-modal', () => {
      $(this.$refs.modal).modal('show');
    });
    this.$on('close-modal', () => {
      $(this.$refs.modal).modal('hide');
    });
  },
  data() {
    return {
      currentModal : '',
      
    }
  },
 
  methods: {
 
    closeModal() {
      // Hide the modal
      $(this.$refs.modal).modal('hide');
    },
    submitModalForm() {
      // Emit the 'submit' event with the form data
      this.$emit('submit', this.formData);
      // Hide the modal
     // this.closeModal();
    },
    validate() {
      // Validate the form using the v-validate instance
      return this.$validator.validateAll();
    },
  },
  
}
</script>