<template>
  <div class="card card-bordered card-stretch">
    <div class="card-inner" v-if="steps == 1">
      <form action="#" @submit.prevent="next()">
        <div class="row g-gs">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="funding_type">Funding Type</label>
              <div class="form-control-wrap">
                <select
                  name="funding_type"
                  class="form-select"
                  id="funding_type"
                  v-model="form.funding_type"
                  v-validate="'required'"
                >
                  <option value="">Select</option>
                  <option
                    :value="f_type.id"
                    v-for="f_type in funding_types"
                    :key="f_type.id"
                  >
                    {{ f_type.name }}
                  </option>
                </select>
                <small
                  >Select the type of funding you are applying for, such as
                  debt, equity, or other types of financing.</small
                >
              </div>

              <span
                v-show="errors.has('funding_type')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("funding_type") }}</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="amount"
                >{{ form.funding_type == 2 ? "Equity " : "" }}Amount</label
              >
              <div class="form-control-wrap">
                <div class="form-icon form-icon-left">
                  <em class="icon ni ni-money"></em>
                </div>
                <input
                  type="text"
                  id="amount"
                  class="form-control"
                  v-model="form.amount"
                  name="amount"
                  v-validate="'required'"
                />

                <small v-if="form.funding_type == 2"
                  >Enter the amount of equity funding you are requesting. This
                  should be the total amount of funding you need to raise for
                  your business</small
                >
                <small v-else
                  >Enter the amount of funding you are requesting.
                </small>
              </div>
              <span
                v-show="errors.has('amount')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("amount") }}</span
              >
            </div>
          </div>
          <div class="col-md-6" v-if="form.funding_type == 2">
            <div class="form-group">
              <label class="form-label" for="equity_percentage"
                >Equity Percentage</label
              >
              <div class="form-control-wrap">
                <input
                  type="text"
                  id="equity_percentage"
                  class="form-control"
                  v-model="form.equity_percentage"
                  name="equity_percentage"
                  v-validate="{ required: form.funding_type == 2 }"
                />
                <small
                  >Enter the percentage of equity you are willing to offer in
                  exchange for the investment.</small
                >
              </div>
              <span
                v-show="errors.has('equity_percentage')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("equity_percentage") }}</span
              >
            </div>
          </div>
          <div class="col-md-6" v-if="form.funding_type == 2">
            <div class="form-group">
              <label class="form-label" for="equity_type">Equity Type</label>
              <div class="form-control-wrap">
                <select
                  name="equity_type"
                  id=""
                  class="form-select"
                  v-model="form.equity_type"
                  v-validate="{ required: form.funding_type == 2 }"
                >
                  <option value="Common Stock ">Common Stock</option>
                  <option value="Preferred Stock">Preferred Stock</option>
                  <option value="Other">Other</option>
                </select>

                <small
                  >Select the type of equity funding you are requesting. This
                  could include common stock, preferred stock, or other types of
                  equity.</small
                >
              </div>
              <span
                v-show="errors.has('equity_type')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("equity_type") }}</span
              >
            </div>
          </div>

          <div class="col-md-6" v-if="form.funding_type == 2">
            <div class="form-group">
              <label class="form-label" for="valuation"
                >Business Valuation (%)</label
              >
              <div class="form-control-wrap">
                <input
                  type="number"
                  class="form-control"
                  id="valuation"
                  placeholder=""
                  v-model="form.valuation"
                  v-validate="'required'"
                />
                <small
                  >Enter the current valuation of your business. This will help
                  investors understand the value of your business and the
                  potential return on their investment.</small
                >
              </div>
            </div>
            <span
              v-show="errors.has('valuation')"
              style="color: red; padding-top: 10px"
              class="invalid form-note"
              >{{ errors.first("valuation") }}</span
            >
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="roi">Expected ROI (%)</label>
              <div class="form-control-wrap">
                <input
                  type="text"
                  class="form-control"
                  value=""
                  id="roi"
                  name="roi"
                  v-validate="{ required: form.funding_type == 2 }"
                  placeholder=""
                />
                <small
                  >Enter the expected return on investment (ROI) for
                  investors.</small
                >
              </div>
              <span
                v-show="errors.has('roi')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("roi") }}</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="area"
                >{{
                  form.funding_type == 2 ? "Security" : "Collateral"
                }}
                Type</label
              >
              <div class="form-control-wrap">
                <select
                  name="collateral_type"
                  id=""
                  class="form-select"
                  v-model="form.collateral_type"
                >
                  <option
                    :value="c_type.id"
                    v-for="c_type in collateral_types"
                    :key="c_type.id"
                  >
                    {{ c_type.name }}
                  </option>
                </select>

                <small v-if="form.funding_type == 2"
                  >Select the type of security you are offering in exchange for
                  the funding.</small
                >
                <small v-else>
                  Select the type of collateral you are offering in exchange for
                  the funding</small
                >
              </div>
              <span
                v-show="errors.has('collateral_type')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("collateral_type") }}</span
              >
            </div>
          </div>
          <div class="col-md-6" v-if="form.funding_type == 1">
            <div class="form-group">
              <label class="form-label" for="collateral">Collateral (%)</label>
              <div class="form-control-wrap">
                <input
                  type="text"
                  class="form-control"
                  id="collateral"
                  placeholder=""
                  required=""
                  value="3%"
                  disabled
                />
                <small
                  >The amount of collateral you are able to offer as security
                  for the loan</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="collateral_amount"
                >{{
                  form.funding_type == 2 ? "Security" : "Collateral"
                }}
                Value</label
              >
              <div class="form-control-wrap">
                <input
                  type="text"
                  class="form-control"
                  id="collateral_amount"
                  placeholder=""
                  required=""
                  v-model="form.collateral_amount"
                  disabled
                />
              </div>
              <small
                >The current value of the
                {{ form.funding_type == 2 ? "security deposit" : "collateral" }}
                you are are required to make as security for the funding.</small
              >
            </div>
          </div>
          <div class="col-md-6" v-if="form.funding_type != 2">
            <div class="form-group">
              <label class="form-label">Repayment Schedule</label>
              <div class="form-control-wrap">
                <select
                  class="form-select"
                  name="repayment_schedule"
                  tabindex="-1"
                  aria-hidden="true"
                  v-model="form.repayment_schedule"
                  v-validate="{ required: form.funding_type != 2 }"
                >
                  <option value="monthly">Monthly</option>
                  <option value="bi-annually">Bi-annually</option>
                  <option value="annually">Annually</option>
                </select>

                <small
                  >Select the repayment schedule for your loan. This could
                  include annual, bi-annual, or monthly repayments</small
                >
              </div>
              <span
                v-show="errors.has('repayment_schedule')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("repayment_schedule") }}</span
              >
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Purpose of Funding</label>
              <div class="form-control-wrap">
                <select
                  class="form-select"
                  tabindex="-1"
                  aria-hidden="true"
                  name="purpose_of_funding"
                  v-validate="'required'"
                  v-model="form.purpose_of_funding"
                >
                  <option value="Expanding the business">
                    Expanding the business
                  </option>
                  <option value="Launching a new product or service">
                    Launching a new product or service
                  </option>
                  <option value="Hiring employees">Hiring employees</option>
                  <option value="Investing in equipment or infrastructure">
                    Investing in equipment or infrastructure
                  </option>
                  <option value="Paying off debt or refinancing">
                    Paying off debt or refinancing
                  </option>
                  <option value="land">Land purpose with structure</option>
                  <option value="Marketing and advertising">
                    Marketing and advertising
                  </option>
                  <option value="Research and development">
                    Research and development
                  </option>
                  <option value="Research and development">
                    Acquiring another business or asset
                  </option>
                  <option value="other">Other</option>
                </select>
                <small
                  >Select the purpose for which you are seeking funding. This
                  could include expanding your business, launching a new
                  product, hiring employees, or other initiatives.</small
                >
              </div>
              <span
                v-show="errors.has('purpose_of_funding')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("purpose_of_funding") }}</span
              >
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="tenure">Tenure </label>
              <div class="form-control-wrap">
                <input
                  type="number"
                  class="form-control"
                  id="tenure"
                  placeholder=""
                  name="term"
                  v-validate="'required|numeric|max_value:15'"
                  v-model="form.term"
                />
                <small
                  >Enter the duration for which you are seeking funding, in
                  years</small
                >
              </div>
              <span
                v-show="errors.has('term')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("term") }}</span
              >
            </div>
          </div>
          <div class="col-md-6 offset-md-3">
            <label class="form-label">Business Plan (Pitch Deck)</label>
            <div class="upload-zone">
              <div class="dz-message" data-dz-message>
                <span class="dz-message-text">Drag and drop file</span>
                <span class="dz-message-or">or</span>
                <button class="btn btn-primary">SELECT</button>
              </div>
            </div>
            <small>Upload a copy of your business plan, including financial projections, market analysis, and other relevant information. </small>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label" for="comments">Comments</label>
              <div class="form-control-wrap">
                <textarea
                  type="number"
                  class="form-control"
                  id="comments"
                  placeholder=""
                  name="comments"
                  v-validate="'required'"
                  v-model="form.comments"
                ></textarea>
              </div>
              <span
                v-show="errors.has('comments')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("comments") }}</span
              >
            </div>
          </div>

          <div class="col-12">
            <div
              class="custom-control custom-control-sm custom-checkbox checked"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                checked=""
                id="note"
              />
              <label class="custom-control-label" for="note">
                <p>
                  I do hereby admit that all the above information that I have
                  input is true &amp; correct. If any of the above information
                  figured out false or incorrect, I understand &amp; agree that
                  my loan application will be rejected. I agree to share my
                  information follow the company policy as required.
                </p>
              </label>
            </div>
          </div>
          <div class="col-12">
            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
              <li v-if="!loading">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary"
                >
                  Submit

                </button>
              </li>

             <li v-else>
              <!-- Generate button with spinner icon in it -->
              <button
                  type="submit"
                  class="btn btn-lg btn-primary"
                  disabled
                >
                  Please Wait.......

                </button>
             </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <details-page :application_id="application_id"></details-page>
    </div>
  </div>
  <!-- .card -->
</template>

<script>
import DetailsPage from "./funding-details.vue";

export default {
  data() {
    return {
      form: {
        funding_type: "",
        collateral_type: "",
        collateral_amount: "",
        equity_percentage: "",
        amount: "",
        repayment_schedule: "",
        term: "",
        comments: "",
        interest: 0.03,
        startDate: new Date(),
        equity_type: "",
        valuation: "",
        roi: "",
      },
      steps: 1,
      application_id: "",
      loading: false,
      funding_types: [],
      collateral_types: [],
      selectedFundingType: "",
    };
  },
  components: {
    DetailsPage,
  },

  watch: {
    form: {
      deep: true,
      handler(value) {
        // Calculate 3% of the loan amount
        const collateralAmount = value.amount * 0.03;
        return (this.form.collateral_amount = collateralAmount);
      },
    },
  },
  created() {
    this.getCollateralTypes();
    this.getFundingTypes();
  },
  computed: {
    showOptionalFields() {
      // if(this.form.funding_type ==1 ){
      return this.selectedFundingType === "debt-financing";
      // }else if(this.form.funding_type == 2){
      //     return this.selectedFundingType === 'private-equity';
      // }
    },
  },
  methods: {
    next() {
      //
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.loading = true;
          const repayments = this.generateRepaymentSchedule();
          this.$http
            .post("loan/apply", { form: this.form, repayments })
            .then(({data}) => {
              console.log(data);
              this.steps = 2;
              this.loading = true
              this.application_id = data.id
            }).catch((e) => {
              this.loading = false;
              console.log(e);
            });
        }
      });
    },
    getCollateralTypes() {
      this.$http.get("loan/get-collateral-types").then((response) => {
        this.collateral_types = response.data;
      });
    },
    getFundingTypes() {
      this.$http.get("loan/get-funding-types").then((response) => {
        this.funding_types = response.data;
      });
    },
    generateRepaymentSchedule() {
      // Calculate the number of payments based on the loan duration and repayment interval
      const numPayments = this.getNumPayments();
      // Calculate the payment amount based on the loan amount and number of payments
      const paymentAmount = this.form.amount / numPayments;

      // Generate the repayment schedule
      const repayments = [];
      let currentDate = new Date(this.form.startDate);
      for (let i = 1; i <= numPayments; i++) {
        repayments.push({
          payment_number: i,
          due_date: currentDate,
          payment_amount: paymentAmount.toFixed(2),
          status: "Unpaid",
        });
        currentDate = this.addInterval(currentDate);
      }

      return repayments;
    },
    getNumPayments() {
      let numPayments = 0;
      switch (this.form.repayment_schedule) {
        case "monthly":
          numPayments = this.form.term * 12;
          break;
        case "bi-annually":
          numPayments = this.form.term * 2;
          break;
        case "annually":
          numPayments = this.form.term;
          break;
      }
      return numPayments;
    },
    addInterval(date) {
      switch (this.form.repayment_schedule) {
        case "monthly":
          return new Date(date.setMonth(date.getMonth() + 1));
        case "bi-annually":
          return new Date(date.setMonth(date.getMonth() + 6));
        case "annually":
          return new Date(date.setFullYear(date.getFullYear() + 1));
      }
    },

  },
};
</script>
