<template>
  <div class="nk-block">
    <div class="card card-bordered">
      <div class="card-aside-wrap">
        <div class="card-content">
          <div class="card-inner">
            <div class="nk-block" v-if="application.funding_type_id !== 2">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title">Loan Details</h5>
              </div>
              <div class="row gy-5">
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Loan Amount</span>
                    <span> ${{application.amount | number_format}} </span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Collateral Type</span>
                    <span v-if="application.collateral_type_id ==1">
                      BTC
                    </span> 
                    <span v-if="application.collateral_type_id ==2">
                      ETH
                    </span> 
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Repay. Freq.</span>
                    <span>{{application.repayment_frequency}}</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Duration</span>
                    <span>{{application.term}} year</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Start Date</span>
                    <span>{{application.created_at.toLocaleString()}}</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">End Date</span>
                    <span>20 Feb 2022</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="nk-block" v-if="application.type.id == 2">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title">Equity Funding Details</h5>
              </div>
              <div class="row gy-5">
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Equity Amount</span>
                    <span> USD {{application.amount}}- </span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Equity Type</span>
                    <span>  </span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Business Valuation</span>
                    <span>{{application.repayment_schedule}}</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Duration</span>
                    <span>{{application.term}} year</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Start Date</span>
                    <span>{{application.startDate}}</span>
                  </div>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">End Date</span>
                    <span>20 Feb 2022</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="nk-divider divider md"></div>
            <div class="nk-block" v-if="application.type.id == 1">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title">Repayment Details</h5>
              </div>
              <div class="row gy-5">
                <div class="col-md-2 col-sm-4 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Total EMI</span>
                    <span class="amount text-primary">35</span>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Paid EMI</span>
                    <span class="amount text-success">24</span>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-12">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Remain EMI</span>
                    <span class="amount text-warning">9</span>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Last Payment Date</span>
                    <span>22 August 2021</span>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="profile-stats">
                    <span class="profile-ud-label">Next Payment Date</span>
                    <span>29 August 2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="nk-divider divider md"></div>
            <div class="nk-block">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title">Funding Status</h5>
              </div>
              <div class="row gy-5">
                <div class="col-12 col-md-10 col-lg-8">
                  <div class="profile-stats">
                    <div class="progress progress-lg">
                      <div
                        data-progress="10"
                        class="progress-bar progress-bar-striped bg-warning"
                        style="width: 10%"
                      >
                        10%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <div class="nk-block" v-if="application.type.id == 1">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title">Repayment Timeline</h5>
              </div>
              <div class="row gy-5">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="cols">Payment Due</th>
                        <th scope="cols">Payment Amount</th>
                        <th scope="cols">Balance</th>
                        <th scope="cols">Status</th>
                    </tr>
                </thead>
                <tbody>
                      <tr v-for="repayment in payments" :key="repayment.id">
                        <td>{{ repayment.date }}</td>
                        <td>{{ repayment.amount }}</td>
                        <td>{{ repayment.balance }}</td>
                        <td>{{ repayment.status }}</td>
                        </tr>
                    
                </tbody>
                </table>
      
              </div>
            </div>
            <div class="nk-divider divider md"></div>
            <div class="nk-block">
              <div class="nk-block-head nk-block-head-sm nk-block-between">
                <h5 class="title"><code>Notice</code></h5>
              </div>
              <div class="row gy-5">
                <div class="col-12">
                  <dt>
                    If you pay your EMI late, you may attract additional charges
                    from your lender. If you make a payment towards your EMI
                    which is after your due date but within your lender's grace
                    period, there is usually an added 'late fee' that you will
                    have to pay alongside your EMI amount.
                  </dt>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
export default {
    props: {
        application_id: {
            type: String,
        }
    },
    data(){
        return {
            application: null
        }  
    },
    created(){
      this.getApplication();
    },
    computed: {
    payments() {
      const payments = [];
      let balance = this.application.amount;
      let interestRate = 3;
      let repaymentInterval = this.application.repayment_frequency;
      //loan duration to months
      let loanDuration = this.calculateNumberOfPayments(this.application.repayment_frequency, this.application.term)
      let startDate = moment(this.application.created_at)


      //number format filter
      const numberFormatFilter = this.$options.filters.number_format;
      // Calculate the payment amount and date for each period
      for (let i = 0; i < loanDuration; i++) {
        // Calculate the interest component of the payment
        let interest = balance * (interestRate / 12);
        // Calculate the principal component of the payment
        let principal = this.calculatePrincipal(
          balance,
          interest,
          repaymentInterval,
          loanDuration
        );
        // Calculate the total payment amount
        let paymentAmount = interest + principal;

        if(numberFormatFilter){
          // Add the payment to the schedule
          payments.push({
            date: startDate.clone(),
            amount: `$ ${numberFormatFilter(paymentAmount)}`,
            balance: `$ ${numberFormatFilter(balance)}`,
            status: "Unpaid",
          });
        }
        
        // Update the balance for the next period
        balance -= principal;
        startDate = this.calculateNextPaymentDate(startDate, repaymentInterval);
      }
      return payments;
    },
  },
    methods: {
      getApplication(){
        this.$http.get('/loan/application/'+this.application_id).then(({data}) => {
          console.log(data);
          this.application = data;
        })
      },
       calculatePrincipal(balance, interest, repaymentInterval, loanDuration) {
      let principal = 0;
      switch (repaymentInterval) {
        case "monthly":
          principal = balance / loanDuration;
          console.log(principal);
          break;
        case "bi-annually":
          principal = balance / loanDuration;
          break;
        case "annually":
          principal = balance /loanDuration;
          break;
        default:
          break;
      }
      return Math.min(principal, balance + interest);
    },
     calculateNumberOfPayments(repaymentSchedule, loanDuration) {
      let numberOfPayments = 0;

      switch (repaymentSchedule) {
        case 'annually':
          numberOfPayments = loanDuration;
          break;
        case 'monthly':
          numberOfPayments = loanDuration * 12;
          break;
        case 'bi-annually':
          numberOfPayments = loanDuration * 2;
          break;
        // Add more cases for other repayment schedules if needed
        default:
          break;
      }

    return numberOfPayments;
  },
    calculateNextPaymentDate(date, repaymentInterval) {
      let nextDate = moment(date);
      switch (repaymentInterval) {
        case "monthly":
          nextDate.add(1, 'month');
          break;
        case "bi-annually":
          nextDate.add(6, 'month');
          break;
        case "annually":
          nextDate.add(1, 'year');
          break;
        default:
          break;
      }
      return nextDate;
    },
    }
}
</script>