<template>
  <div class="nk-block invest-block">
      <div v-if="successMessage" class="alert alert-success">
    {{ successMessage }}
        </div>

        <div v-if="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    <form action="#" class="invest-form" data-vv-scope="withdraw" v-validate>
      <div class="row g-gs">
        <div class="col-xxl-7 col-lg-6">
          <div class="row">
            <div class="col-12">
              <div class="invest-field form-group">
                <div class="form-group">
                  <label class="form-label"
                    >Account to withdraw from
                    <!-- <em
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      class="card-hint icon ni ni-help-fill"
                      title=""
                    ></em > -->
                  </label>
                  <div class="form-note">
                    Select the account from which you want to withdraw funds
                  </div>
                  <div class="form-control-wrap">
                    <select
                      v-validate="'required'"
                      class="form-select form-control-lg"
                      v-model="form.category"
                      name="category"
                    >
                      <option value="">-- Select --</option>
                      <option value="account-balance">
                        Account Balance: [{{
                          settings.currency | getDollarSign
                        }}
                        {{ this.accountBalance | number_format }}]
                      </option>
                      <option value="funding-balance">
                        Funding Balance: [{{
                          settings.currency | getDollarSign
                        }}
                        {{ this.fundingBalance | number_format }}]
                      </option>
                    </select>
                  </div>
                  <span
                    v-show="errors.has('withdraw.category')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("withdraw.category") }}</span
                  >
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <!-- .col -->
          </div>
          <div class="row">
            <div class="col-12">
              <div class="invest-field form-group">
                <div class="form-label-group">
                  <label class="form-label" for="amount">
                    Amount
                    <!-- <em
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      class="card-hint icon ni ni-help-fill"
                      title="Enter the amount you wish to withdraw."
                    ></em> -->
                  </label>
                </div>
                <div class="form-note">
                  Enter the amount you wish to withdraw.
                </div>
                <div class="form-control-group">
                  <input
                    type="number"
                    class="form-control form-control-amount form-control-lg"
                    id="amount"
                    value=""
                    name="amount"
                    v-validate="{
                      required: true,
                      balance: activeBalance,
                      max: maxWithdrawalLimit,
                    }"
                    v-model="form.amount"
                  />

                  <span
                    v-show="errors.has('withdraw.amount')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("withdraw.amount") }}</span
                  >
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <!-- .col -->
          </div>
          <div class="row">
            <div class="col-12">
              <div class="invest-field form-group">
                <div class="form-group">
                  <label class="form-label">Withdrawal Method </label>
                  <div class="form-note">
                    Select the method you want to use to withdraw your funds,
                    such as bank transfer, or cryptocurrency.
                  </div>
                  <div class="form-control-wrap">
                    <select
                      class="form-select form-control-lg"
                      v-validate="'required'"
                      name="method_type"
                      v-model="form.method_type"
                    >
                      <option value="bank">Bank Transfer</option>
                      <option value="crypto">Crypto Payment</option>
                    </select>
                  </div>
                  <span
                    v-show="errors.has('withdraw.method_type')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("withdraw.method_type") }}</span
                  >
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <div class="col-12" v-if="form.method_type == 'bank'">
              <div class="invest-field form-group">
                <div class="form-group">
                  <label class="form-label">Bank Accounts</label>
                  <div class="form-control-wrap">
                    <select
                      class="form-select form-control-lg"
                      v-validate="'required'"
                      name="bank"
                      v-model="form.method_bank"
                      v-on:change="createNewPaymentMethod($event, 'bank')"
                      data-vv-scope="bank"

                    >
                      <option value="">Choose Bank Account</option>
                      <option value="">Create new bank account</option>
                      <option value="boa" v-for="bank in banks" :key="bank.id">{{bank.Bank_Name}} | {{bank.Account_name}}</option>
                    </select>
                  </div>
                  <span
                    v-show="errors.has('bank.bank')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("bank.bank") }}</span
                  >
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <div class="col-12" v-if="form.method_type == 'crypto'">
              <div class="invest-field form-group">
                <div class="form-group">
                  <label class="form-label">External Crypto Wallets</label>
                  <div class="form-control-wrap">
                    <select
                      class="form-select form-control-lg"
                      name="crypto"
                      v-validate="'required'"
                      v-model="form.method_crypto"
                      v-on:change="createNewPaymentMethod($event, 'crypto')"
                      data-vv-scope="crypto"
                    >
                      <option value="">Choose External Wallet</option>
                      <option value="">Create new wallet</option>
                      <option :value="wallet.id" v-for="wallet in wallets" :key="wallet.id">{{wallet.wallet_nickname}}</option>
                    </select>
                  </div>
                  <span
                    v-show="errors.has('crypto.crypto')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("crypto.crypto") }}</span
                  >
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <!-- .col -->
          </div>

          <div class="row">
            <div class="col-12">
              <div class="invest-field form-group">
                <label for="" class="form-label">Notes</label>
                <span class="form-note"
                  >If you have any additional instructions or notes for the
                  withdrawal, such as special delivery instructions for a bank
                  transfer, please enter them here</span
                >
                <div class="form-control-wrap">
                  <textarea
                    v-model="form.note"
                    name="note"
                    id=""
                    class="form-control"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="invest-field form-group mt-3">
            <div class="custom-control custom-control-xs custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text=danger"
                id="checkbox"
                v-validate="'required'"
                name="terms-agreement"
              />
              <label class="custom-control-label" for="checkbox"
                >I agree with the
                <a href="#">terms and &amp; conditions.</a></label
              >
              <span
                v-show="errors.has('withdraw.terms-agreement')"
                style="margin-top: 10px"
                class="invalid form-note"
                >{{ errors.first("withdraw.terms-agreement") }}</span
              >
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="invest-field form-group">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="submitWithdrawal()"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- .invest-field -->
        </div>
        <!-- .col -->
        <div class="col-xxl-4 col-lg-5 offset-lg-1">
          <div class="card card-bordered ml-lg-4 ml-xl-0">
            <div class="nk-iv-wg4">
              <div class="nk-iv-wg4-sub">
                <h6 class="nk-iv-wg4-title title">Withdrawal Details</h6>
                <ul class="nk-iv-wg4-overview g-2">
                  <li>
                    <div class="sub-text">Withdraw From</div>
                    <div class="lead-text">
                      {{ form.category | formatFirstChar}}
                    </div>
                  </li>
                  <li>
                    <div class="sub-text">Payment Method</div>
                    <div class="lead-text" v-if="!form.method_type ==''">{{
                        form.method_type == "bank"
                          ? "Bank Account"
                          : "External Wallet"
                      }}</div>
                      <div class="lead-text" v-else >
                          N\A
                      </div>
                  </li>
                  <li>
                    <div class="sub-text">
                      Currency
                    </div>
                    <div class="lead-text">{{settings.currency}}</div>
                  </li>
                  <li>
                    <div class="sub-text">Amount</div>
                    <div class="lead-text">{{settings.currency|getDollarSign}} {{form.amount|number_format}}</div>
                  </li>
                </ul>
              </div>
              <!-- .nk-iv-wg4-sub -->
              <div class="nk-iv-wg4-sub">
                <ul class="nk-iv-wg4-list">
                  <li>
                    <div class="sub-text">Status</div>
                    <div class="lead-text badge badge-default">In-Queue</div>
                  </li>
                </ul>
              </div>
              <!-- .nk-iv-wg4-sub -->
              <div class="nk-iv-wg4-sub">
                <ul class="nk-iv-wg4-list">
                  <li>
                    <div class="sub-text">Amount to Withdraw</div>
                    <div class="lead-text">$ 2,175</div>
                  </li>
                  <li>
                    <div class="sub-text">
                      Process Fees &amp; Charges <span>(0.5%)</span>
                    </div>
                    <div class="lead-text">$ 1.25</div>
                  </li>
                </ul>
              </div>
              <!-- .nk-iv-wg4-sub -->
              <div class="nk-iv-wg4-sub">
                <ul class="nk-iv-wg4-list">
                  <li>
                    <div class="lead-text">Total Amount</div>
                    <div class="caption-text text-dangerter">$ 2176.25</div>
                  </li>
                </ul>
              </div>
              <!-- .nk-iv-wg4-sub -->
            </div>
            <!-- .nk-iv-wg4 -->
          </div>
          <!-- .card -->
          <div class="card card-bordered ml-lg-4 ml-xl-0">
            <div class="card-inner">
              <div class="align-center flex-wrap g-4">
                <div class="nk-block-content">
                  <div class="nk-block-content-head">
                    <h6>Get lowest percentage of interest!</h6>
                    <p class="text-soft">
                      Interest, discount points &amp; rebates shown are subject
                      to change without notice.
                    </p>
                  </div>
                </div>
                <div class="nk-block-content flex-shrink-0">
                  <a
                    href="html/loan/apply-application.html"
                    class="btn btn-danger"
                    >Apply Now</a
                  >
                </div>
              </div>
            </div>
            <!-- .card-inner -->
          </div>
          <!-- .card -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </form>

    <modal
      :title="modalTitle"
      ref="modal"
      :formData="formData"
      @submit="onModalSubmit"
    >
      <template v-slot:modal-body>
        <form action="" v-if="modalOption === 'bank'" data-vv-scope="method">
          <div class="form-group">
            <label class="form-label" for="account_name">Account Name</label>
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="account_name"
                v-validate="'required'"
                name="account_name"
                v-model="bank.account_name"
              />
            </div>
             <span
                v-show="errors.has('method.account_name')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("method.account_name") }}</span
                  >
                  <small class="form-note mt-3"> Enter the name on the bank account that you want to use for the transfer. This should be the same name that appears on your bank statement and other official documents.</small>
          </div>
          <div class="form-group">
            <label class="form-label" for="account_number">Account Number</label>
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="account_number"
                name="account_number"
                v-validate="'required'"
                v-model="bank.account_number"
              />
            </div>
             <span
                    v-show="errors.has('method.account_number')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("method.account_number") }}</span
                  >
                  <small class="form-note mt-3">Enter your bank account number. This is usually a series of digits that uniquely identify your account</small>
          </div>
          <div class="form-group">
            <label class="form-label" for="routing_number">Routing Number</label>
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="routing_number"
                v-validate="'required'"
                v-model="bank.routing_number"
                name="routing_number"
              />
            </div>
             <span
                    v-show="errors.has('method.routing_number')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("method.routing_number") }}</span
                  >
                 <small class="form-note mt-3">Enter the routing number for your bank. This is a nine-digit code that identifies your bank and helps to ensure that your funds are transferred to the correct account. If you are making an international transfer, you will need to provide a SWIFT code instead of a routing number</small>
          </div>
          <div class="form-group">
            <label class="form-label" for="bank_name">Bank Name</label>
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="bank_name"
                v-validate="'required'"
                v-model="bank.bank_name"
                name="bank_name"
              />
            </div>
             <span
                    v-show="errors.has('method.bank_name')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("method.bank_name") }}</span
                  >
                  <small class="form-note mt-3"> Enter the name of the bank where you hold your account. This should be the full name of the bank, rather than any shortened or abbreviated version</small>
          </div>
          <div class="form-group">
            <label class="form-label" for="address"
              >Address <small>(optional)</small></label
            >
            <div class="form-control-wrap">
              <textarea
                class="form-control"
                id="address"
                name="address"
                v-validate="'required'"
                v-model="bank.address"
              >
              </textarea>
            </div>
             <span
                    v-show="errors.has('method.address')"
                    style="color: red; padding-top: 10px"
                    class="invalid form-note"
                    >{{ errors.first("method.address") }}</span
                  >
                  <small class="form-note mt-3"> Enter the full address of your bank branch, including the street address, city, state/province, and postal code. This will help to ensure that your transfer is routed to the correct location.</small>
          </div>
        </form>
        <form action="" v-else-if="modalOption === 'crypto'" data-vv-scope="method">
        <div class="form-group ">
            <label class="form-label" for="wallet_nickname"
              >Wallet Nickname</label
            >
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="wallet_nickname"
                name="wallet_nickname"
                v-validate="'required'"
                v-model="crypto.wallet_nickname"
              />

            <span
              v-show="errors.has('method.wallet_nickname')"
              style="color: red; padding-top: 10px"
              class="invalid form-note"
              >{{ errors.first("method.wallet_nickname") }}</span
            >
            <small class="form-note">Enter a nickname for your wallet to easily identify it.</small>
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="wallet_address"
              >External Wallet Address</label
            >
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="wallet_address"
                name="wallet_address"
                v-validate="'required'"
                v-model="crypto.wallet_address"
              />
            </div>
            <span
              v-show="errors.has('method.wallet_address')"
              style="color: red; padding-top: 10px"
              class="invalid form-note"
              >{{ errors.first("method.wallet_address") }}</span
            >
            <small class="form-note"
              >Enter the address of your external wallet.</small
            >
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="wallet_provider"
              >Wallet Address Provider</label
            >
            <div class="form-control-wrap">
              <input
                type="text"
                class="form-control"
                id="wallet_provider"
                name="wallet_provider"
                v-validate="'required'"
                v-model="crypto.wallet_provider"
              />
            </div>
            <span
              v-show="errors.has('method.wallet_provider')"
              style="color: red; padding-top: 10px"
              class="invalid form-note"
              >{{ errors.first("method.wallet_provider") }}</span
            >
            <small class="form-note"
              >Input the provider of your external wallet address.</small
            >
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="asset_type">Asset Type</label>
            <div class="form-control-wrap">

              <select class="form-control"
                id="asset_type"
                name="asset_type"
                v-validate="'required'"
                v-model="crypto.asset_type">
                <option value="BTC">Bitcoin - (BTC)</option>
                <option value="ETH">Ethereum -(ETH)</option>
                </select>
            </div>
            <span
              v-show="errors.has('method.asset_type')"
              style="color: red; padding-top: 10px"
              class="invalid form-note"
              >{{ errors.first("method.asset_type") }}</span
            >
            <small class="form-note"
              >Select the asset type of your external wallet address.</small
            >
          </div>
        </form>
      </template>
    </modal>
  </div>
</template>

<script>
import modal from "../widgets/w-modal.vue";
import { Validator } from 'vee-validate';
import "../../validation";

export default {
  props: {
    accountBalance: {
      type: Number,
      required: true,
    },
    fundingBalance: {
      type: Number,
      required: true,
    },
    settings: {
      type: Object,
    },

  },
  components: {
    modal,
  },

  data() {
    return {
      body: {},
      modalTitle: "",
      modalOption: "",
      form: {
        method_bank: "",
        method_crypto: "",
        method_type: "",
        note: "",
        category: "",
        amount: "",
      },
      bank: {
        account_number: "",
        account_name: "",
        routing_number: "",
        bank_name: "",
        address: "",
      },
      crypto: {
        wallet_address: "",
        wallet_provider: "",
        asset_type: "",
        wallet_nickname: "",
      },
      successMessage: '',
      errorMessage: '',
      wallets: [],
      banks: []

    };
  },

  filters: {

    getDollarSign(arg) {
      if (arg == null) {
        return arg;
      }
      return arg == "USD" ? "$" : arg;
    },
    formatFirstChar(value) {
      if (!value) return "N/A";
      value = value.toString();
      value = value.replace(/-/g, " ");
      value = value.replace(/(^|\s)\S/g, (letter) => letter.toUpperCase());
      value = value.replace(/=\s*\S/g, (letter) => letter.toUpperCase());
      return value;
    },
  },

  computed: {
    setProps() {
      this.accountBalance = parseFloat(this.accountBalance);
      this.fundingBalance = parseFloat(this.fundingBalance);
    },
    formData() {
      if (this.form.method_type === "bank") {
        return this.bank;
      } else if (this.form.method_type === "crypto") {
        return this.crypto;
      }
    },
    activeBalance() {
      if (this.form.method_type == "funding-balance") {
        return this.fundingBalance.toString();
      } else {
        return this.accountBalance.toString();
      }
    },
    maxWithdrawalLimit() {
      return this.settings.wd_limit;
    },
    minWithdrawalLimit() {
      return this.settings.min_wd;
    },

  },
  created(){
      this.getPaymentMethods('crypto');
      this.getPaymentMethods('bank');
  },
  methods: {
    submitWithdrawal() {

      const dict = {
        custom: {
          category: {
            required: () => "Choose an account to withdraw from",
          },
          method_type: {
            required: () => "Pick a withdrawal method (Bank or Crypto)",
          },
          crypto: {
            required: () =>
              "Choose an existing external wallet address create a new one",
          },
          bank: {
            required: () => "Choose a bank create a new one",
          },
        },
      };
      this.$validator.localize("en", dict);

        const with_method = this.form.method_type == 'bank' ? 'bank': 'crypto'
        // Define scopes to validate
        const scopes = ['withdraw', with_method];
      this.$validator.validateScopes(scopes).then((result) => {
        if (result) {
          this.$http.post('loan/submit/withdrawal', this.form).then(response => {
              if (response.data.status === 'success') {
                    this.successMessage = response.data.message;

                } else {
                    this.errorMessage = response.data.message;
                }
          })
        }
      }).catch(error => {
                this.errorMessage = error.message;
            });

    },
    showModalBox(option) {
      // Update the modal title and option based on the user's selection
      this.modalTitle = `Add ${option
        .charAt(0)
        .toUpperCase()}${option.slice(1)} Account`;
      this.modalOption = option;

      // Emit the 'show-modal' event to the Modal component
      this.$refs.modal.$emit("show-modal");
    },
    onModalSubmit(data) {
        const dict = {
        custom: {
          wallet_nickname: {
            required: () => "Choose a nickname for your wallet",
          },
          wallet_address: {
            required: () => "The wallet address field is required",
          },
          wallet_provider: {
            required: () =>
              "Input your wallet provider",
          },
          bank_name: {
            required: () => "The bank name field is required",
          },
          routing_number: {
            required: () => "The routing number field is required",
          },
          account_name: {
            required: () => "The account name field is required",
          },
          account_number: {
            required: () =>
              "The account number field is required",
          },
          address: {
            required: () => "The address field is required",
          },
        },
      };
      this.$validator.localize("en", dict);

      // Do something with the form data from the modal
      this.$validator.validateAll('method').then((result) => {
        if (result) {
         data.type = this.form.method_type
          this.$http.post('loan/save/withdraw/method',data).then(response => {
               if (response.data.status === 'success') {
                    this.successMessage = response.data.message;

                } else {
                    this.errorMessage = response.data.message;
                }

                if(this.form.method_type == 'bank'){
                    this.banks = this.getPaymentMethods('bank')
                }else{
                    this.wallets = this.getPaymentMethods('crypto')
                }

                // Emit the 'close-modal' event to the Modal component
                this.$refs.modal.$emit("close-modal");
          })
          .catch(error => {
                this.errorMessage = 'There was an error processing your request';
            });
        }
      });
    },
    createNewPaymentMethod(e, option) {
      if (e.target.options.selectedIndex > -1) {
        if (e.target.options.selectedIndex == 1) {
          this.showModalBox(option);
        }
      }
    },
    getPaymentMethods(type){
      this.$http.get(`loan/withdrawal/methods/${type}`).then(({data}) => {
          if(type == 'bank'){
              this.banks = data
          }else{
              this.wallets = data

          }
      })
  }
  }

};
</script>
