<template>
  <div>
    <div class="buysell wide-xs m-auto">
      <div class="buysell-block">
        <div>
          <form action="" @submit.prevent="submit()" class="buysell-form">
            <div class="buysell-field form-group">
              <div class="form-label-group">
                <label class="form-label">Payment Methods </label>
              </div>
              <div class="form-pm-group">
                <ul class="buysell-pm-list">
                  <li class="buysell-pm-item" v-show="settings.switch_eth">
                    <input
                      class="buysell-pm-control"
                      type="radio"
                      name="method"
                      value="BTC"
                      v-validate="'required'"
                      v-model="form.method"
                      id="pm-btc"
                    />
                    <label class="buysell-pm-label" for="pm-btc">
                      <span class="pm-name">BTC</span>
                      <span class="pm-icon"
                        ><em class="icon ni ni-btc-alt"></em
                      ></span>
                    </label>
                  </li>
                  <li class="buysell-pm-item" v-show="settings.switch_btc">
                    <input
                      class="buysell-pm-control"
                      type="radio"
                      value="ETH"
                      name="method"
                      v-validate="'required'"
                      v-model="form.method"
                      id="pm-eth"
                    />
                    <label class="buysell-pm-label" for="pm-eth">
                      <span class="pm-name">ETH</span>
                      <span class="pm-icon"
                        ><em class="icon ni ni-eth-alt"></em
                      ></span>
                    </label>
                  </li>
                  <li
                    class="buysell-pm-item"
                    v-show="settings.bank_deposit_switch"
                  >
                    <input
                      class="buysell-pm-control"
                      type="radio"
                      value="BANK"
                      v-validate="'required'"
                      v-model="form.method"
                      name="method"
                      id="pm-bank"
                    />
                    <label class="buysell-pm-label" for="pm-bank">
                      <span class="pm-name">Bank Transfer</span>
                      <span class="pm-icon"
                        ><em class="icon ni ni-building-alt"></em
                      ></span>
                    </label>
                  </li>
                </ul>

                <span
                  v-show="errors.has('method')"
                  style="color: red; padding: 10px"
                  class="invalid"
                  >{{ errors.first("method") }}</span
                >
              </div>
            </div>
            <div class="buysell-field form-group">
              <div class="form-label-group">
                  <label class="form-label">Choose Quick Amount to Deposit</label>
              </div>
              <div class="invest-amount-group g-2">
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-1" @click="setAmount(100)">
                      <label class="invest-amount-label" for="iv-amount-1">{{settings.currency|getDollarSign}} 100</label>
                  </div>
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-2" @click="setAmount(250)">
                      <label class="invest-amount-label" for="iv-amount-2">{{settings.currency|getDollarSign}} 250</label>
                  </div>
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-3"  @click="setAmount(500)">
                      <label class="invest-amount-label" for="iv-amount-3">{{settings.currency|getDollarSign}} 500</label>
                  </div>
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-4"  @click="setAmount(1000)">
                      <label class="invest-amount-label" for="iv-amount-4">{{settings.currency|getDollarSign}} 1,000</label>
                  </div>
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-5"  @click="setAmount(1500)">
                      <label class="invest-amount-label" for="iv-amount-5">{{settings.currency|getDollarSign}} 1,500</label>
                  </div>
                  <div class="invest-amount-item">
                      <input type="radio" class="invest-amount-control" name="iv-amount" id="iv-amount-6"  @click="setAmount(2000)">
                      <label class="invest-amount-label" for="iv-amount-6">{{settings.currency|getDollarSign}} 2,000</label>
                  </div>
              </div>
          </div>
            <!-- .buysell-field -->
            <div class="buysell-field form-group">
              <div class="form-label-group">
                <label class="form-label" for="buysell-amount"
                  >Or Enter Amount</label
                >
              </div>
              <div class="form-control-group">
                <input
                  type="text"
                  :class="{ invalid: errors.has('amount') }"
                  class="form-control form-control-lg form-control-number"
                  id="buysell-amount"
                  v-model="form.amount"
                  name="amount"
                  v-validate="
                    'required|min_value:' +
                    settings.min_deposit +
                    '|max_value:' +
                    settings.max_deposit
                  "
                  placeholder="5,000"
                />
                <div class="form-dropdown">
                  <div class="text">
                    {{ settings.currency | getDollarSign }}<span>/</span>
                  </div>
                </div>
                <span v-show="errors.has('amount')" class="invalid">{{
                  errors.first("amount")
                }}</span>
              </div>
              <div class="form-note-group">
                <span class="buysell-min form-note-alt"
                  >Min Amount:{{ settings.currency | getDollarSign }}
                  {{ settings.min_deposit }} <br />
                  Max Amount:{{ settings.currency | getDollarSign }}
                  {{ settings.max_deposit }}</span
                >

                <span class="buysell-rate form-note-alt"
                  >Total = {{ settings.currency | getDollarSign }}
                  {{ totalAmount }}</span
                >
              </div>
            </div>
            <!-- .buysell-field -->

            <!-- .buysell-field -->
            <div class="buysell-field form-action">
              <button
                v-if="!loading"
                type="submit"
                class="btn btn-lg btn-block btn-primary"
              >
                Continue to Deposit
              </button>
              <button
                v-else
                type="submit"
                disabled
                class="btn btn-lg btn-block btn-primary"
              >
                <pulse-loader :loading="loading" color="white"></pulse-loader>
              </button>
            </div>
            <!-- .buysell-field -->
            <div class="form-note text-base text-center">
              Note: our transfer fee included,
              <a href="#">see our fees</a>.
            </div>
          </form>
        </div>

        <!-- .buysell-form -->
      </div>
    </div>
    <modal
      :deposit="deposit"
      :method="form.method"
      :settings="settings"
    ></modal>
  </div>
</template>

<script>
import modal from "../components/widgets/confirm_deposit.vue";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {

  data() {

    return {
      form: {
        amount: "",
        method: "",
        deposit_type: null,
        deposit_category: null,
      },
      settings: {},
      deposit: {},
      btc_amount: 0,
      loading: false,
    };
  },
  components: {
    PulseLoader,
    modal,
  },
  async created  ()  {
    await this.getSettings();
    await this.parseUrlParameters();

  },
  asyncComputed: {
    async amountBtc() {
      let res = await this.getBtc(this.amount);
      return res;
    },
    async amountEth() {
      let res = await this.getEth(this.amount);
      return res;
    },
  },
  computed: {
    totalAmount() {
      var amount = this.form.amount || 0;
      return parseFloat(amount) + 100;
    },
    _setAmount(){
      return this.amount = this.form.amount
    }

  },
  mounted() {


  },
  filters: {
    getDollarSign(arg) {
      return arg == "USD" ? "$" : arg;
    },
  },
  methods: {
    parseUrlParameters() {
      const urlParams = new URLSearchParams(window.location.search);

      // Logging for debugging
      console.log("URL Params: ", Array.from(urlParams.entries()));

      if (urlParams.has('t')) {
        this.form.deposit_type = urlParams.get('t');
        console.log("Set deposit_type to: ", this.form.deposit_type);
      }else{
        this.form.deposit_type = 'deposit'
      }

      if (urlParams.has('c')) {
        this.form.deposit_category = urlParams.get('c');
       console.log("Set deposit_category to: ", this.form.deposit_category);
      }else{
        this.form.deposit_category = 'invest'
      }

      if (urlParams.has('amount')) {
        this.form.amount = urlParams.get('amount');

      }
    },
    getSettings() {
      this.$http.get("/app/get/settings").then(({ data }) => {
        this.settings = data;
      });
    },
    async submit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.getBtc(this.amount).then((e) => {
            this.btc_amount = e;
          });
          this.loading = true;

          setTimeout(() => {
            this.$http
              .post("/app/v2/deposit/funds/xhr", this.form)
              .then(({data}) => {
                this.deposit = data;
                $("#confirm-deposit").modal({
                  backdrop: "static",
                  keyboard: false,
                  show: true,
                });
                this.loading = false;
              })
              .catch((e) => {
                this.loading = false;
                $("#confirm-deposit").modal("hide");
                NioApp.Toast(e.response.data.message , "error",
                  { 'position': "top-right" , ui: 'is-dark', icon: false}
                );
              });
          }, 5000);
        }
      });
    },
    async getEth(amount) {
      amount = parseFloat(this.amount) | 0;
      let response = await this.$http.get("/api/get/eth/price/" + amount);

      return Promise.resolve(response.data);
    },
    async getBtc(amount) {
      amount = parseFloat(this.amount) | 0;
      let response = await this.$http.get("/api/get/btc/price/" + amount);

      return Promise.resolve(response.data);
    },
     setAmount(amount){
      return this.form.amount = amount
    }
  },
};
</script>
