<template>
  <div>
    <div class="nk-block invest-block">
      <form @submit.prevent="invest()" class="invest-form">
        <div class="row g-gs">
          <div class="col-lg-7">

            <div class="card card-bordered" >
              <div class="card-inner">
                <div
                  ref="cus_alert"
                  class="alert alert-icon alert-danger"
                  role="alert"
                  style="display: none"
                >
                  <em class="icon ni ni-alert-circle"></em>
                  <strong>{{ cus_error }}</strong>
                </div>
                <div class="invest-field form-group">
                  <div class="dropdown invest-cc-dropdown">
                    <a
                      href="#"
                      class="invest-cc-chosen dropdown-indicator"
                      data-toggle="dropdown"
                      v-if="Object.keys(form.pkg ).length === 0"
                    >
                      <div class="coin-item">
                        <div class="coin-icon">
                          <em class="icon ni ni-offer-fill"></em>
                        </div>
                        <div class="coin-info">
                          <span class="coin-name">Choose Plan</span>
                          <span class="coin-text"
                            >Invest now choose any of these plans</span
                          >
                        </div>
                      </div>

                    </a>
                    <a
                      href="#"
                      class="invest-cc-chosen dropdown-indicator"
                      data-toggle="dropdown"
                      v-else
                    >
                      <div class="coin-item">
                        <div class="coin-icon">
                          <em :class="'icon ni ' +form.pkg.color"></em>
                        </div>
                        <div class="coin-info">
                          <span class="coin-name">{{form.pkg.package_name}} Plan</span>
                          <span class="coin-text"
                            >Invest for {{ form.pkg.period }} days and get daily
                            profit {{ form.pkg.daily_interest }}%</span
                          >
                        </div>
                      </div>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh"
                    >
                      <ul class="invest-cc-list">
                        <li class="invest-cc-item selected"
                        v-for="pkg in pkgs" :key="pkg.id">
                          <a href="#" @click.prevent="clickSinglePackage(pkg.id)"  class="invest-cc-opt" data-plan="silver">
                            <div class="coin-item">
                              <div class="coin-icon">
                                <em :class="'icon ni '+ pkg.color"></em>
                              </div>
                              <div class="coin-info">
                                <span class="coin-name">{{pkg.package_name }} Plan</span>
                                <span class="coin-text"
                                  >Invest for {{ pkg.period }} days and get daily
                            profit {{ pkg.daily_interest }}%</span
                                >
                              </div>
                            </div>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                   <span
                        v-show="form.pkg != null"
                        style="color: red; padding-top: 10px"
                        class="invalid form-note"
                        >{{plan_error}}</span
                      >
                  <!-- .dropdown -->
                </div>
              </div>

            </div>

            <!-- .invest-field -->
            <div>
              <div class="invest-field form-group">
                <div class="form-label-group">
                  <label class="form-label"
                    >Choose Quick Amount to Invest</label
                  >
                </div>
                <div class="invest-amount-group g-2">
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-1"
                      @click="setAmount(100)"
                    />
                    <label class="invest-amount-label" for="iv-amount-1"
                      >{{ settings.currency | getDollarSign }} 100</label
                    >
                  </div>
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-2"
                      @click="setAmount(250)"
                    />
                    <label class="invest-amount-label" for="iv-amount-2"
                      >{{ settings.currency | getDollarSign }} 250</label
                    >
                  </div>
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-3"
                      @click="setAmount(500)"
                    />
                    <label class="invest-amount-label" for="iv-amount-3"
                      >{{ settings.currency | getDollarSign }} 500</label
                    >
                  </div>
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-4"
                      @click="setAmount(1000)"
                    />
                    <label class="invest-amount-label" for="iv-amount-4"
                      >{{ settings.currency | getDollarSign }} 1,000</label
                    >
                  </div>
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-5"
                      @click="setAmount(1500)"
                    />
                    <label class="invest-amount-label" for="iv-amount-5"
                      >{{ settings.currency | getDollarSign }} 1,500</label
                    >
                  </div>
                  <div class="invest-amount-item">
                    <input
                      type="radio"
                      class="invest-amount-control"
                      name="iv-amount"
                      id="iv-amount-6"
                      @click="setAmount(2000)"
                    />
                    <label class="invest-amount-label" for="iv-amount-6"
                      >{{ settings.currency | getDollarSign }} 2,000</label
                    >
                  </div>
                </div>
              </div>
              <!-- .invest-field -->
              <div class="invest-field form-group">
                <div class="form-label-group">
                  <label class="form-label">Or Enter Your Amount</label>
                </div>
                <div class="form-control-group">
                  <div class="form-info">{{ settings.currency }}</div>
                  <input
                    type="number"
                    class="form-control form-control-amount form-control-lg"
                    v-model="form.amount"
                    name="amount"
                    v-validate="
                      'required|min_value:' +
                      para.min +
                      '|max_value:' +
                      para.max
                    "
                  />
                  <div class="form-range-slider" id="amount-step"></div>
                </div>
                <span
                  v-show="errors.has('amount')"
                  style="color: red; padding-top: 10px"
                  class="invalid form-note"
                  >{{ errors.first("amount") }}</span
                >
                <div class="form-note pt-2">
                  Note: Minimum invest {{ form.pkg.min == '' ? '0.00' : form.pkg.min|number_format }}
                  {{ settings.currency }} and up to {{form.pkg.max == '' ? '0.00' :  form.pkg.max|number_format }}
                  {{ settings.currency }}
                </div>
              </div>
              <!-- .invest-field -->
            </div>
            <!-- .invest-field -->
            <div class="invest-field form-group">
              <div class="custom-control custom-control-xs custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="checkbox"
                  name="agree"
                  v-validate="'required'"
                />
                <label class="custom-control-label" for="checkbox"
                  >I agree the
                  <a href="/terms-condition"
                    >terms and &amp; conditions.</a
                  ></label
                >
              </div>
              <span
                v-show="errors.has('agree')"
                style="color: red; padding-top: 10px"
                class="invalid form-note"
                >{{ errors.first("agree") }}</span
              >
            </div>
            <!-- .invest-field -->
          </div>
          <!-- .col -->
          <div class="col-xl-4 col-lg-5 offset-xl-1">
            <div class="card card-bordered ml-lg-4 ml-xl-0">
              <div class="nk-iv-wg4">
                <div class="nk-iv-wg4-sub">
                  <h6 class="nk-iv-wg4-title title">Your Investment Details</h6>
                  <ul class="nk-iv-wg4-overview g-2">
                    <li>
                      <div class="sub-text">Name of scheme</div>
                      <div class="lead-text">
                        {{
                           form.pkg.package_name | truncate(15)
                        }}.. Plan
                      </div>
                    </li>
                    <li>
                      <div class="sub-text">Term of the scheme</div>
                      <div class="lead-text">{{form.pkg.days_interval}} days</div>
                    </li>

                    <li>
                      <div class="sub-text">Daily profit %</div>
                      <div class="lead-text">{{form.pkg.daily_interest == null ? 0: form.pkg.daily_interest}} %</div>
                    </li>
                    <li>
                      <div class="sub-text">Interest Return</div>
                      <div class="lead-text">{{settings.currency|getDollarSign}} {{form.amount == null ? '0.00' :i_return|number_format}}</div>
                    </li>
                    <li>
                      <div class="sub-text">Term start at</div>
                      <div class="lead-text">Today ({{para.start_day == '' ? '': para.start_day }})</div>
                    </li>
                    <li>
                      <div class="sub-text">Term ends at</div>
                      <div class="lead-text">{{para.end_day == '' ? '--' : para.end_day}}</div>
                    </li>
                    <li>
                      <div class="sub-text">Withdrawal Interval</div>
                      <div class="lead-text">{{form.pkg.days_interval == null ? 0 : form.pkg.days_interval}} days</div>
                    </li>
                    <li>
                      <div class="sub-text">Withdrawal Fee</div>
                      <div class="lead-text">{{settings.currency|getDollarSign}} {{ settings.wd_fee|number_format|round}}</div>
                    </li>
                    <li>
                      <div class="sub-text">Min Amount</div>
                      <div class="lead-text">{{settings.currency|getDollarSign}} {{ form.pkg.min == null ? '0.00' : form.pkg.min |number_format}}</div>
                    </li>
                    <li>
                      <div class="sub-text">Max Amount</div>
                      <div class="lead-text">{{settings.currency|getDollarSign}} {{ form.pkg.max == null ? '0.00' : form.pkg.max |number_format}}</div>
                    </li>
                  </ul>
                </div>
                <!-- .nk-iv-wg4-sub -->

                <!-- .nk-iv-wg4-sub -->

                <div class="nk-iv-wg4-sub">
                  <ul class="nk-iv-wg4-list">
                    <li>
                      <div class="sub-text">Wallet Balance</div>
                      <div class="lead-text">{{settings.currency|getDollarSign}} {{user.wallet == '' ? '0.00' :  user.wallet|number_format}}</div>
                    </li>
                  </ul>
                </div>
                <!-- .nk-iv-wg4-sub -->
                <div class="nk-iv-wg4-sub">
                  <ul class="nk-iv-wg4-list">
                    <li>
                      <div class="lead-text">Total Returns</div>
                      <div class="caption-text text-primary">{{settings.currency|getDollarSign}} {{total_cap_plus_earnings == 0?'0.00': total_cap_plus_earnings}}</div>
                    </li>
                  </ul>
                </div>
                <!-- .nk-iv-wg4-sub -->
                <div class="nk-iv-wg4-sub text-center bg-lighter">
                  <input
                    v-if="!clicked"
                    type="submit"
                    class="btn btn-lg btn-primary ttu"
                    value="Confirm &amp; proceed"
                  />
                  <button v-else class="btn btn-lg btn-primary ttu">
                    <pulse-loader
                      :loading="clicked"
                      color="#fff"
                    ></pulse-loader>
                  </button>
                </div>
                <!-- .nk-iv-wg4-sub -->
              </div>
              <!-- .nk-iv-wg4 -->
            </div>
            <!-- .card -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </form>
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import moment from "moment";
import { ErrorBag } from 'vee-validate';
const errors = new ErrorBag();

export default {
  props: {
    user_id: {
      required: true,
    },
    user: {
      required: true,
    },
  },
  data() {
    return {
      form: {
        amount: 0.0,
        pkg: {},
      },
      para: {
        start_day: moment().format("MM-D-Y"),
        end_day: "",
        min: "",
        max: "",
      },
      clicked: false,
      pkgs: [],
      pkg_id: "",
      pkg: {},
      settings: {},
      cus_error: "",
      plan_error: ''
    };
  },
  components: {
    PulseLoader,
  },
  created() {
    if (this.plan_choosen) {
      this.getSinglePackage(this.pkg_id);
    }
    this.getPackages();
    this.getSettings();
    this.user = JSON.parse(this.user);
  },
  filters: {
    getDollarSign(arg) {
      if (arg == null ) {
        return arg;
      }
      return arg == "USD" ? "$" : arg;
    },
    round(arg) {
      if (arg == null || arg == NaN) {
        return arg;
      }
      return Math.round(arg, 2);
    },
    number_format(arg) {
      if (arg == null) {
        return arg;
      }
      if (arg == NaN){
        return 0.00;
      }
      return arg.toLocaleString();
    },
    truncate(arg, x) {
      if (arg == null) {
        return arg;
      }
      return arg.substring(0, x);
    },
    multiply(a, b) {
      return a * b;
    },
    divde(a, b) {
      return a / b;
    },
    add(a, b) {
      return a + b;
    },
    subtract(a, b) {

      return a - b;
    },
    toString(arg) {
      if(arg == null){
        return arg;
      }
      return toString(arg);
    },
  },
  computed: {
    plan_choosen: {
      get() {
        const queryString = window.location.search;
        var url = new URLSearchParams(queryString);
        this.pkg_id = url.get("plan");
        return url.has("plan");
      },
    },
    i_return: {
      get() {
         var amount =  parseFloat(this.form.amount)
          if(Object.keys(this.form.pkg ).length === 0){
            return '0.00'
          }
        return (
          amount *
          this.form.pkg.days_interval *
          this.form.pkg.daily_interest
        );
      },
    },
    total_cap_plus_earnings: {
      get() {
        var amount =  parseFloat(this.form.amount)
        if(Object.keys(this.form.pkg ).length === 0){
          return '0.00'
        }
        return (
          amount +
          amount *
            this.form.pkg.days_interval *
            this.form.pkg.daily_interest
        ).toLocaleString();
      },
    },
  },
  methods: {
    getSettings() {
      this.$http.get("/app/get/settings").then(({ data }) => {
        this.settings = data;
      });
    },
    getObjByKey(arr, key) {
      var valObj = arr.filter(function (elem) {
        if (elem.id == key) return elem;
      });
      if (valObj.length > 0) return valObj;
    },
    getPackages() {
      this.$http.get("/app/get/packages/").then(({ data }) => {
       console.log(data);
       this.pkgs = data
      });
    },
    getSinglePackage(plan_id) {
      this.$http.get("/app/packages/plan/" + plan_id).then(({ data }) => {
        this.form.pkg = data;
        this.para.end_day = moment()
          .add("days", data.days_interval)
          .format("MM-DD-Y");
        this.para.min = data.min;
        this.para.max = data.max;
      });
    },

    invest() {
      if(Object.keys(this.form.pkg ).length === 0){
           this.plan_error = 'Choose an investment plan to continue'
      }
      else{
      this.$validator.validateAll().then((result) => {
        if (result) {

          this.clicked = true;

          this.$http
            .post("/app/v2/invest/packages", {
              amount: this.form.amount,
              p_id: this.pkg_id,
            })
            .then(({ data }) => {
              NioApp.Toast(
                "Investment plan successfully subscribed for",
                "success",
                {
                  ui: "is-dark",
                  icon: false,
                }
              );
              setTimeout(() => {
                 window.location.replace('/app/v2/investment/'+data.id)
              }, 5000);
            })
            .catch((e) => {
              this.clicked = false;
              this.$refs["cus_alert"].style.display = "block";
              this.cus_error = e.response.data.message;

              NioApp.Toast(e.response.data.message, "error", {
                ui: "is-dark",
                icon: false,
              });
            });

        }
      });
          }
    },
    setAmount(amount) {
      return (this.form.amount = amount);
    },
    clickSinglePackage(pkg_id){
      console.log(pkg_id)
      var pkg = this.pkgs.find(pkg => pkg.id == pkg_id)
      this.form.pkg = pkg;
      this.pkg_id = pkg.id
      this.para.end_day = moment()
          .add("days", pkg.days_interval)
          .format("MM-DD-Y");
        this.para.min = pkg.min;
        this.para.max = pkg.max;
    },
  },
};
</script>

<style scoped>
.buysell-pm-label .pm-name {
  font-size: 10px;
  color: #364a63;
}
.buysell-pm-label .pm-icon {
  display: inline-flex;
  font-size: 10px;
  color: #8094ae;
}

.buysell-pm-control {
  position: absolute;
  top: 0;
  height: 1px;
  width: 1px;
  opacity: 0;
}
.buysell-pm-control:checked ~ .buysell-pm-label {
  cursor: default;
}
.buysell-pm-control:checked ~ .buysell-pm-label:after {
  opacity: 1;
}
</style>
