<template>
  <div>
<div class="card card-bordered">
    <div class="card-inner border-bottom">
        <div class="card-title-group">
            <div class="card-title">
                <h6 class="title">Notifications</h6>
            </div>
            <div class="card-tools">
                <a href="#" class="link">View All</a>
            </div>
        </div>
    </div>
    <div class="card-inner">
           <div class="card card-bordered">
        <div class="card-inner border-bottom">
            <div class="card-title-group">
                <div class="card-title">
                    <h6 class="title">Notifications</h6>
                </div>
                <div class="card-tools">
                    <a href="#" class="link">View All</a>
                </div>
            </div>
        </div>
        <div class="card-inner">
            <div class="timeline">
                <h6 class="timeline-head">November, 2019</h6>
                <ul class="timeline-list">
                    <li class="timeline-item">
                        <div class="timeline-status bg-primary is-outline"></div>
                        <div class="timeline-date">13 Nov <em class="icon ni ni-alarm-alt"></em></div>
                        <div class="timeline-data">
                            <h6 class="timeline-title">Submited KYC Application</h6>
                            <div class="timeline-des">
                                <p>Re-submitted KYC Application form.</p>
                                <span class="time">09:30am</span>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-status bg-primary"></div>
                        <div class="timeline-date">13 Nov <em class="icon ni ni-alarm-alt"></em></div>
                        <div class="timeline-data">
                            <h6 class="timeline-title">Submited KYC Application</h6>
                            <div class="timeline-des">
                                <p>Re-submitted KYC Application form.</p>
                                <span class="time">09:30am</span>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-status bg-primary"></div>
                        <div class="timeline-date">13 Nov <em class="icon ni ni-alarm-alt"></em></div>
                        <div class="timeline-data">
                            <h6 class="timeline-title">Submited KYC Application</h6>
                            <div class="timeline-des">
                                <p>Re-submitted KYC Application form.</p>
                                <span class="time">09:30am</span>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-status bg-pink"></div>
                        <div class="timeline-date">13 Nov <em class="icon ni ni-alarm-alt"></em></div>
                        <div class="timeline-data">
                            <h6 class="timeline-title">Submited KYC Application</h6>
                            <div class="timeline-des">
                                <p>Re-submitted KYC Application form.</p>
                                <span class="time">09:30am</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- .card -->
    
    </div>
</div><!-- .card -->
  </div>
</template>

<script>
export default {
  props: {
    notifications: {
      required: true,
    },
  },
  data() {
    return {
      body: {},
    };
  },
};
</script>