
    .console-container {
        position: relative;
        background-color: #1e1e2f !important;
        font-family: 'Fira Code', 'Courier New', monospace;
        overflow-y: auto;
    }

    .console-content {
        min-height: 100%;
        background-color: #1e1e2f;
    }

    .console-input-line {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 0;
    }

    .console-input {
        background: transparent;
        border: none;
        color: #fff;
        flex-grow: 1;
        font-family: 'Fira Code', 'Courier New', monospace;
        font-size: 14px;
        outline: none;
        padding: 4px;
        width: 100%;
    }

    .console-input::placeholder {
        color: rgba(255, 255, 255, 0.3);
    }

    .command-output {
        margin: 8px 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 1.4;
        color: #fff;
    }

    .error-output {
        color: #ff5555;
    }

    .welcome-message {
        color: #50c878;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 8px;
    }

    .prompt {
        font-weight: bold;
        color: #50c878;
    }

    .command-history {
        color: #888;
    }

    .success-output {
        color: #50c878;
    }

    .commands-list {
        margin-bottom: 20px;
    }

    .commands-list code {
        background: rgba(255, 255, 255, 0.1);
        padding: 2px 6px;
        border-radius: 3px;
        color: #50c878;
        font-family: 'Fira Code', 'Courier New', monospace;
    }

    .commands-list li {
        margin-bottom: 8px;
    }

    #helpSection {
        background: #1a1a2e !important;
    }

    /* Custom scrollbar for the console */
    .console-container::-webkit-scrollbar {
        width: 8px;
    }

    .console-container::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
    }

    .console-container::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
    }

    .console-container::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.3);
    }

    .command-group {
        margin-bottom: 25px;
        position: relative;
    }

    .command-list {
        position: relative;
        max-height: 300px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    .command-list.expanded {
        max-height: 2000px;
    }

    .command-list-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(transparent, #1a1a2e);
        pointer-events: none;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .command-list.expanded+.command-list-overlay {
        opacity: 0;
    }

    .show-more-btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background: #1e1e2f;
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #50c878;
        padding: 5px 15px;
        border-radius: 15px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 10;
    }

    .show-more-btn:hover {
        background: #2a2a3f;
        border-color: rgba(255, 255, 255, 0.2);
    }

    .show-more-btn i {
        transition: transform 0.3s ease;
    }

    .show-more-btn.expanded i {
        transform: rotate(180deg);
    }

    .command-item {
        margin-bottom: 12px;
        padding: 8px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.03);
    }

    .command-name {
        color: #50c878;
        font-family: 'Fira Code', 'Courier New', monospace;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .command-args {
        color: #888;
        font-size: 13px;
        font-family: 'Fira Code', 'Courier New', monospace;
        margin-bottom: 4px;
    }

    .command-desc {
        color: #aaa;
        font-size: 13px;
        line-height: 1.4;
    }

    .arg-required {
        color: #ff5555;
    }

    .arg-optional {
        color: #7d8590;
    }

    .command-example {
        font-size: 12px;
        color: #666;
        margin-top: 4px;
        font-family: 'Fira Code', 'Courier New', monospace;
    }